@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin: 15px 0 15px 0;
  padding: 0px 25px;
  padding-bottom: 10px;
  border: 1px solid #ecf0f2;
  border-radius: 4px;
  box-shadow: 0 1px 3px #00000023, 0 1px 2px #a9ceff7c;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  p {
    font-size: 90%;
    line-height: 1.4;
  }
}

.thumbnail.visible {
  opacity: 1;
}

.thumbnail-date {
  color: #a9a9a9;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}